{% extends 'base.html.twig' %}

{% block title %} {{ 'worker.page'|trans({}, 'worker') }} - {{ parent() }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ 'worker.title'|trans({}, 'worker') }}</h1>
    <div>
        <a href="{{ path('app_worker_create') }}"><button>{{ 'worker.create'|trans({}, 'worker') }}</button></a>
    </div>
    <br/>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'worker.lastName'|trans({}, 'worker') }}</th>
                <th>{{ 'worker.firstName'|trans({}, 'worker') }}</th>
                <th>{{ 'worker.jobTitle'|trans({}, 'worker') }}</th>
                <th>{{ 'worker.workingTime'|trans({}, 'worker') }}</th>
                <th>{{ 'worker.wage'|trans({}, 'worker') }}</th>
                <th>{{ 'worker.startDate'|trans({}, 'worker') }}</th>
                <th>{{ 'worker.action'|trans({}, 'worker') }}</th>

            </tr>
            </thead>
            <tbody>
            {% for worker in workers %}
            <tr>
                <td>{{ worker.firstName }}</td>
                <td>{{ worker.lastName }}</td>
                <td>{{ "worker.field.jobTitleChoices.#{worker.jobTitle}"|trans({}, 'worker') }}</td>
                <td>{{ worker.workingTime }}</td>
                <td>{{ worker.wage }}</td>
                <td>{{ worker.startDate|date("d-m-Y") }}</td>
                <td><a href="{{ path('app_worker_edit', {id: worker.id}) }}">{{ 'worker.edit'|trans({}, 'worker') }}</a>
                    <a href="{{ path('app_worker_delete', {id: worker.id}) }}">{{ 'worker.suppress'|trans({}, 'worker') }}</a></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
