<div class="navbar">
    <nav>
        <ul>
            <li><a href="{{ path('app_main_index') }}">{{ 'main.index.menuAccueil' | trans({}, 'main') }}</a></li>
            <li><a href="{{ path('app_worker_index') }}">{{ 'main.index.menuWorker' | trans({}, 'main') }}</a></li>
            <li><a href="{{ path('app_customer_index') }}">{{ 'main.index.menuClient' | trans({}, 'main') }}</a></li>
        </ul>
    </nav>
</div>